<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Gotify push</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-alert
        v-if="gotifyServer"
        :value="gotifyServer"
        type="success"
        transition="scale-transition"
      >Server {{gotifyServer}} added</v-alert>
      <v-btn v-if="gotifyServer" label="Submit message" v-on:click="flush('server')">Delete server</v-btn>
      <v-alert
        v-if="gotifyToken"
        :value="gotifyToken"
        type="success"
        transition="scale-transition"
      >Token saved</v-alert>
      <v-btn v-if="gotifyToken" label="Submit message" v-on:click="flush('token')">Delete token</v-btn>
    </v-toolbar>

    <v-content>
      <v-layout justify-center>
        <v-form xs12 sm8 md6 @submit="submit" ref="form">
          <v-layout row wrap>
            <v-text-field
              label="Gotify server"
              placeholder="Input your server address with https://"
              v-model="gotifyServer"
              outline
              v-if="showServer"
            />
            <v-btn
              v-if="showServer"
              label="Submit message"
              class="mdi-send"
              v-on:click="save('server')"
            >Save</v-btn>
          </v-layout>
          <v-layout row wrap>
            <v-text-field
              label="Gotify token"
              placeholder="Input your message"
              v-model="gotifyToken"
              outline
              v-if="showToken"
            />
            <v-btn
              v-if="showToken"
              label="Submit message"
              class="mdi-send"
              v-on:click="save('token')"
            >Save</v-btn>
          </v-layout>
          <v-label v-if="gotifyToken"/>
          <v-text-field
            label="Title input"
            placeholder="Input message title"
            outline
            @input="setTitle"
          />
          <v-textarea
            label="Message input"
            placeholder="Input your message"
            outline
            required
            @input="setMessage"
          />
          <v-btn label="Submit message" type="submit" color="success">
            Send
            <v-icon dark right>mdi-send</v-icon>
          </v-btn>
        </v-form>
      </v-layout>
    </v-content>
  </v-app>
</template>

<script>
import "@mdi/font/css/materialdesignicons.css";
import Vue from "vue";
import Vuetify from "vuetify";
import axios from "axios";

Vue.use(Vuetify, {
  iconfont: "mdi"
});

export default {
  name: "GotifyPush",
  data() {
    return {
      showToken: true,
      showServer: true,
      message: "",
      title: "",
      gotifyServer: null,
      gotifyToken: null
    };
  },
  watch: {
    gotifyToken: {
      handler() {
        localStorage.setItem("gotifyToken", JSON.stringify(this.gotifyToken));
      }
    },
    gotifyServer: {
      handler() {
        localStorage.setItem("gotifyServer", JSON.stringify(this.gotifyServer));
      }
    }
  },
  mounted() {
    if (localStorage.getItem("gotifyToken")) {
      this.gotifyToken = JSON.parse(localStorage.getItem("gotifyToken"));
      this.showToken = false;
    }
    if (localStorage.getItem("gotifyServer")) {
      this.gotifyServer = JSON.parse(localStorage.getItem("gotifyServer"));
      this.showServer = false;
    }
  },
  methods: {
    flush(e) {
      if (e === "server") {
        this.gotifyServer = "";
        localStorage.removeItem("gotifyServer");
      } else {
        this.gotifyToken = "";
        localStorage.removeItem("gotifyToken");
      }
    },
    save(e) {
      if (e === "server") {
        this.showServer = false;
      } else {
        this.showToken = false;
      }
    },
    submit() {
      axios({
        method: "post",
        url: `https://${this.gotifyServer}/message?token=${this.gotifyToken}`,
        params: {
          title: this.title,
          message: this.message,
          priority: "10"
        },
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Access-Control-Allow-Methods":
            "GET, POST, PATCH, PUT, DELETE, OPTIONS",
          "Access-Control-Allow-Headers":
            "Origin, X-Requested-With, Content-Type, Accept, Authorization, X-Gotify-Key",
          Accept: "application/json",
          "X-Gotify-Key": `${this.gotifyToken}`,
          "Content-Type": "application/json"
        }
      });
    },
    setTitle(e) {
      this.title = e;
      // console.log(this.title);
    },
    setMessage(e) {
      this.message = e;
      // console.log(this.message);
    }
  }
};
</script>
